.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    position: relative;
}

.spinner-container .fas,
.spinner-container .fab
 {
    color: cornflowerblue;
}

.fa-github {
    position: absolute;
}
